* {
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(12, 122, 49, 0.788);
}

.modal-content {
  background-color: #dd7d0f;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #074110;
  width: 30%;
}